# Practice 1: Salaries

Utilising the file named 'Salaries.csv,' which holds data regarding the salaries of academic staff members across different positions, perform a series of tasks to extract information according to particular requirements or answer the questions.

Import pandas

In [1]:
import pandas as pd

Read this csv into a dataframe called df

In [3]:
# Read dataset from csv file 
df = pd.read_csv ('Data/Salaries.csv', encoding = 'utf-8')

What are the columns names?

In [4]:
# Display all columns names
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'gender', 'salary'], dtype='object')

What are data types of columns we have in this data frame?

In [5]:
# Display data types of all columns
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
gender        object
salary         int64
dtype: object

How many rows and columns does this dataframe have?

In [7]:
# Display the number of rows and columns of the dataframe
df.shape

(78, 6)

Identify the number of PhD students for each staff member in the dataset.

In [9]:
# Disply the number of PhD student for each staff member
df.phd

0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64

Select rank, gender and salary columns and display the results on screen

In [10]:
# Display 3 specify column: rank, gender, salary
df[['rank', 'gender', 'salary']]

         rank  gender  salary
0        Prof    Male  186960
1        Prof    Male   93000
2        Prof    Male  110515
3        Prof    Male  131205
4        Prof    Male  104800
..        ...     ...     ...
73       Prof  Female  105450
74  AssocProf  Female  104542
75       Prof  Female  124312
76       Prof  Female  109954
77       Prof  Female  109646

[78 rows x 3 columns]

Write the selected columns from the previous task to a new csv file called selected_salaries.csv

In [11]:
# Write your selected columns into a new csv file
selected_salaries = df[['rank', 'gender', 'salary']]
selected_salaries.to_csv ( 'selected_salaries.csv' , index = False )

-------------------------------End of Practice 1 --------------------------------------