# Practice 3: Comsumption and Carbon footprints

In this set of practice exercises we’ll be again looking at the dataset of consumption and carbon footprints of different foods.

Importing pandas with the alias pd.

In [1]:
#Write your code here
import pandas as pd

Read the dataset as a dataframe named df from food_consumption.csv

In [6]:
#Write your code here
df=pd.read_csv("Data/food_consumption.csv", header=0, encoding='utf-8')
df.head()

     country food_category  consumption  co2_emmission
0  Argentina          Pork        10.51          37.20
1  Argentina       Poultry        38.66          41.53
2  Argentina          Beef        55.48        1712.00
3  Argentina   Lamb & Goat         1.56          54.63
4  Argentina          Fish         4.36           6.96

What country consumes the most food per person per year (across all food categories)?

In [9]:
#Write your code here
df.groupby('country').consumption.sum().sort_values()

country
Rwanda          40.38
Malawi          51.00
Zambia          57.11
Mozambique      63.41
Togo            74.32
                ...
Albania        532.73
Netherlands    534.17
Sweden         550.00
Lithuania      555.01
Finland        639.79
Name: consumption, Length: 130, dtype: float64

Which food category is the biggest contributor to the above country’s consumption total?

In [ ]:
#Write your code here

What country produces the most kg C02 per person per year?

In [ ]:
#Write your code here

Which food category is the biggest contributor to the above country’s C02 emissions?

In [ ]:
#Write your code here

What food category produces the most C02 per person per year across all countries?

In [ ]:
#Write your code here

What food category is consumed the most across all countries per person per year? What food category is consumed the least across all countries?

In [ ]:
#Write your code here

------------------------------------ End of Practice -----------------------------------------------