# Exercise: Chinese Supermarket

Analyse the data in the "Purchase_Data.csv" file, which records purchases at a Chinese supermarket for various products, to address the specified tasks and obtain answers to the following questions.

Import pandas

In [1]:
#Write your code here
import pandas as pd

Read this csv into a dataframe called purchase_df

In [3]:
#Write your code here
purchase_df = pd.read_csv ('Data\Purchase_Data.csv', encoding='utf-8')

Use the head() method to check that you have read in the data correctly.

In [4]:
#Write your code here
purchase_df.head()

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price
0,10107,7/15/15 10:45,G816,7000300,210101,1.0,2.0
1,10121,7/15/15 12:16,G816,7070884,70203,1.0,2.0
2,10134,7/15/15 12:16,G816,7070884,70203,1.0,2.0
3,10145,7/15/15 12:16,G816,7070891,70401,1.0,6.0
4,10159,7/15/15 12:16,G816,7090363,70401,1.0,6.0

In [15]:
purchase_df.shape

(2823, 7)

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [6]:
#Write your code here
avg_price = purchase_df['price'].mean()
max_price  = purchase_df['price'].max()
print (avg_price,'\n',max_price)

3.127079938599717
 6.0

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [9]:
#Write you code here
avg_price , avg_num_items = purchase_df[['price','num_item']].mean()
print (avg_price)
print (avg_num_items)

3.127079938599717
1.249202975557917

How many different products are there?

In [14]:
#Write your code here
id = purchase_df['product_id'].unique()
len(id)

46